profile {
    .left-margin.icon.icon-md {
        margin-right: 12px;
        vertical-align: middle;
        color: color($colors, light-gray);
    }
    .item.item-md.list-header.list-header-md {
        margin-top: 10px;
    }
    .col-padding {
        padding-top: 10px;
    }
}