// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary-dark: rgba(44, 49, 71, 1),
  primary: rgba(55, 61, 89, 1),
  primary-light: rgba(71, 76, 95, 1),
  secondary: rgba(255, 76, 121, 1),

  azure: rgba(0, 160, 250, 1),
  orange: rgb(255, 154, 65),

  gray: rgba(90, 90, 90, 1),
  medium-gray: rgba(145, 145, 145, 1),
  light-gray: rgba(200, 200, 200, 1), // Border color
  extra-light-gray: rgba(238, 238, 238, 1),
  extra-light-gray-v2: rgba(248, 248, 248, 1),
  white: rgba(255,255,255,1),

  success: rgba(61, 204, 109, 1),
  warn: rgba(255, 212, 0, 1),
  danger: rgba(255, 0, 81, 1),
  accent: rgba(254, 66, 144, 1),
  accent-v2: rgba(244, 54, 76, 1),

  google: rgba(254, 66, 97, 1),

  primary-ionic: rgba(72, 138, 255, 1),
  secondary-ionic: rgba(50, 219, 100, 1),
  danger-ionic: rgba(245, 61, 61, 1)
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
