signin {
    .logo-small {
        margin-left: 10px;
        min-height: 25px;
        filter: invert(100%);
        background-image: url("../assets/imgs/ts-logo-small.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }
    .row {
        .text.left {
            float: left;
            font-size: 1rem;
            padding-left: 15px
        }
        .text.right {
            float: right;
            font-size: 1rem;
            padding-right: 15px;
            color: color($colors, medium-gray);
        }
    }
}