signin {
    .row {
        .text.left {
            float: left;
            font-size: 1rem;
            padding-left: 15px
        }
        .text.right {
            float: right;
            font-size: 1rem;
            padding-right: 15px;
            color: color($colors, medium-gray);
        }
    }
}