// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// change header color
// .toolbar-background-md {
//     background-color: rgba($color:white, $alpha: 0.0)
//     font-weight: lighter;
// }

h1,
h2,
h3,
p {
    padding: 0.2rem;
    color: color($colors, gray);
    background-color: inherit;
}

.nav-primary {}
.nav-primary__list {}
.nav-primary__item {}
.nav-primary__link {}
.nav-primary__link--is-active {}

.container.text,
.text {
    padding: 0.5rem;
    .title {}
    .text {}

    &.large { font-size: 1.5rem; }
    &.small { font-size: 0.8rem; padding: 0.2rem 0.2rem; }
    &.azure {
        color: color($colors, azure)
    }
}


.textbox {

    &:focus { outline: none; border: 1px solid #69e; }  
    &.large { font-size: 18px; }
    &.small { font-size: 11px; padding: 1px 2px; }
}

.is-hidden    { display:    none !important; }
.is-invisible { visibility: none !important; }

.block        { display: block        !important; }
.inline       { display: inline       !important; }
.inline-block { display: inline-block !important; }

.left  { float: left  !important; }
.right { float: right !important; }

.text-left   { text-align: left   !important; }
.text-center { text-align: center !important; }
.text-right  { text-align: right  !important; }

/**
 * Below the logo CSS
 *
 */

.alert {
    height: 3vw;
    width: 3vw;
    border: 3px solid color($colors, azure); // background: radial-gradient(circle, color($colors, azure), color($colors, white) 95%);
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.logo-small {
    min-height: 30px;
    width: 30px;
    display: inline-block;
    filter: invert(100%);
    background-image: url("../assets/imgs/ts-logo-small.svg");
    background-repeat: no-repeat;
    background-size: contain;
}