// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// change header color
// .toolbar-background-md {
//     background-color: rgba($color:white, $alpha: 0.0)
//     font-weight: lighter;
// }
.container .row {}

.right {
    float: right;
}

.logo-small {
    min-height: 30px;
    width: 30px;
    display: inline-block;
    filter: invert(100%);
    background-image: url("../assets/imgs/ts-logo-small.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.circle {
    height: 3vw;
    width: 3vw;
    background: radial-gradient(circle, color($colors, azure), color($colors, white) 95%);
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3,
p {
    padding: 2px;
    color: color($colors, gray);
    background-color: inherit;
}

h1 {
    font-size: 2.6rem;
    font-weight: bolder;
    color: color($colors, gray);
}

h2 {
    font-weight: lighter;
    color: color($colors, gray);
}

h3 {
    font-weight: lighter !important;
    color: color($colors, light-gray);
}

p {
    font-size: 1.8rem;
    font-weight: lighter;
}